{% extends "base_layout.html" %}

{% block title %}{{book.title}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-3">
            <img src="/static/images/{{book.pic}}" width="260" height="350">
        </div>
        <div class="col-xs-9">
            <p>{{book.desc}}</p>
            <a href="#fakelink" class="btn btn-default">Take it</a>
            <a href="#fakelink" class="btn btn-default">Read it</a>
            <a href="#fakelink" class="btn btn-default">Add to wishlist</a>
        </div>
    </div>
    <!-- /row -->
{% endblock %}