{% extends "base_layout.html" %}

{% block title %}Book list{% endblock %}

{% block content %}

    {% for book in books %}
    <div class="row book-row">
        <div class="col-xs-2">
            <a href="{%url 'book' book.id%}"><img src="/static/images/{{ book.pic }}" width="180" height="235"></a>
        </div>
        <div class="col-xs-10">
            <p>
                <strong>{{ book.title }}</strong> <span class="gray">({{ book.year }})</span><br>
                Author('s): {{ book.author }}<br>
                Language: {{ book.language }}
            </p>
            <p>{{ book.desc }}</p>
        </div>
    </div>
    {% endfor %}

    <!-- /row -->
{% endblock %}
