{% extends "base_layout.html" %}

{% block title %}Book list{% endblock %}

{% block content %}

    {% for book in books %}
    <div class="row book-row">
        <div class="col-xs-2">
            <a href="{%url 'book' book.id%}" class="book">
                {% if book.pic %}
                <img src="/static/images/{{ book.pic }}" width="165" height="235">
                {% else %}
                <img src="http://placehold.it/165x235.png" width="165" height="235">
                {% endif %}
            </a>
        </div>
        <div class="col-xs-10">
            <p>
                <strong>{{ book.title }}</strong> <span class="gray">({{ book.year }})</span><br/>
                Author: {{ book.author }}<br/>
                Language: {{ book.language }}<br/>
                {% if book.genre %}
                Genre: {{ book.genre }}
                {% endif %}
            </p>
            <p>{{ book.desc }}</p>
        </div>
    </div>
    {% endfor %}

    <!-- /row -->
{% endblock %}
