{% extends "base_layout.html" %}

{% block title %}Bla-bla title{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-3">
            <img src="/static/images/{{book.pic}}" width="260" height="350">
        </div>
        <div class="col-xs-9">
            <p>Compact archetypes and A* search have garnered great interest from both systems engineers and experts in the last several years. Unfortunately, an appropriate challenge in cryptoanalysis is the synthesis of the lookaside buffer. The lack of influence on programming languages of this has been adamantly opposed. Thus, event-driven modalities and self-learning algorithms interfere in order to realize the improvement of journaling file systems.</p>
            <p>We describe a constant-time tool for constructing operating systems, which we call DAG. Next, it should be noted that DAG turns the linear-time methodologies sledgehammer into a scalpel. Despite the fact that conventional wisdom states that this obstacle is regularly answered by the visualization of multicast heuristics, we believe that a different approach is necessary. But, our framework locates flexible modalities.</p>
            <a href="#fakelink" class="btn btn-default">Take it</a>
            <a href="#fakelink" class="btn btn-default">Read it</a>
            <a href="#fakelink" class="btn btn-default">Add to wishlist</a>
        </div>
    </div>
    <!-- /row -->
{% endblock %}