{% extends "base_layout.html" %}

{% block title %}New{% endblock %}

{% block content %}
    <div class="row">
        {% for image in images %}
        <div class="col-xs-3">
            <a href="/book">
                <img src="/static/images/{{ image }}" width="260" height="350">
            </a>

            <p><a href="/book">Bla-bla title!</a></p>
            <a href="#fakelink" class="btn btn-block btn-default">Take it</a>
        </div>
        {% endfor %}
    </div>
    <!-- /row -->
{% endblock %}