{% extends "base_layout.html" %}

{% block title %}New{% endblock %}

{% block content %}
    <div class="row">
        {% for book in books %}
        <div class="col-xs-3">
            <a href="/book/{{book.id}}">
                {% if book.pic %}
                <img src="/static/images/{{ book.pic }}" width="260" height="350">
                {% else %}
                <img src="http://placehold.it/180x235.png">
                {% endif %}
            </a>

            <p><a href="/book/{{book.id}}">{{book.title}}</a></p>
            <a href="#fakelink" class="btn btn-block btn-default">Take it</a>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="{%url 'booklist'%}" class="btn btn-lg btn-block btn-default btn-landing-more">More</a>
        </div>
    </div>
    <!-- /row -->
{% endblock %}
